@import '../../styles/variables.scss';

.formNewTask {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.938em;
	height: 40px;

	&__title {
		margin: 0;
	}

	&__input {
		flex-grow: 1;
		height: 100%;
		padding: 0.625rem;
		font-size: 1.25rem;
		border: 2px solid $color-border-light;
		border-radius: 10px;
		transition: 0.2s ease-in-out;

		&:focus {
			border-color: $color-accent;
			outline: 1px solid $color-accent;
			outline-offset: 0px;
		}
	}

	&__selectType {
		height: 100%;
		border: 2px solid $color-border-light;
		border-radius: 10px;
		appearance: none;
		padding: 5px;
		padding-right: 30px;
		background-image: url('/arrow.svg');
		background-size: 12px;
		background-repeat: no-repeat;
		background-position: right 10px center;
		transition: 0.2s ease-in-out;

		&:focus {
			border-color: $color-accent;
			outline: 1px solid $color-accent;
			outline-offset: 0px;
		}
	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2.5rem;
		height: 2.5rem;
		background: none;
		border: none;
		border-radius: 10px;
		background-color: $color-accent;
		transition: 0.25s ease-in-out;

		&:hover {
			background-color: $color-accent-light;
		}
	}
}
