@import '../../styles/variables.scss';

.toDoList__item {
	display: flex;
	gap: 0.625em;
	align-items: center;
	height: 30px;
}

.item__checkbox {
	width: 1.25rem;
	height: 1.25rem;
}

.item__button {
	background: none;
	border: none;
}

.item__taskText {
	flex-grow: 1;
	font-size: 1.125em;
}

.item__taskTag {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 105px;
	padding: 5px;
	border-radius: 10px;
}
.taskTag__toDo {
	color: $color-red;
	background-color: $color-red-light;
}

.taskTag__inProgress {
	color: $color-yellow;
	background-color: $color-yellow-light;
}

.taskTag__done {
	color: $color-green;
	background-color: $color-green-light;
}
