$color-grey: #222428;
$color-grey-light: #2d2d31;
$color-primary: #f2f3f7;
$color-accent: #0062c0;
$color-accent-light: #0070da;
$color-border-light: #e9e9e9;
$color-red: #d87a79;
$color-red-light: #ffe7eb;
$color-yellow: #dfa94d;
$color-yellow-light: #fcfbe9;
$color-green: #499c7d;
$color-green-light: #e8fef9;
