@import '../../styles/variables.scss';

.header {
	background-color: $color-white;

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		padding: 0.625rem 1.25rem;
		& > h1 {
			margin: 0;
		}
	}
}

hr {
	border: 1px solid $color-border-light;
	margin: 0;
	margin-bottom: 0.625rem;
}
