@import '../../styles/variables.scss';

.sidebar {
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
	padding: 0.625rem 0;
	min-height: 100vh;
	background-color: $color-grey;

	&__logo {
		width: 185px;
		height: 50px;
		padding: 0 0.625rem;
	}
}

.nav__button {
	display: flex;
	align-items: center;
	gap: 1rem;
	width: 100%;
	padding: 0.625rem;
	font-size: 1.125rem;
	font-weight: bold;
	background: none;
	border: none;
	color: $color-primary;
	transition: 0.25s ease-in-out;

	&:hover {
		background-color: $color-accent;
	}
}

.activeButtonNav {
	background-color: $color-grey-light;
}
