@import '../../styles/variables.scss';

.modal-overlay {
	margin: 10px;
}

.modal-content {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 250px;
}

.modal__title {
	margin: 0;
}

.modal__form {
	display: flex;
	flex-direction: column;
	gap: 10px;

	.form__field {
		display: flex;
		flex-direction: column;
		gap: 2px;

		.field-label {
			font-size: 18px;
		}

		.field-change {
			padding: 0.625rem;
			font-size: 1.15rem;
			border: 2px solid $color-border-light;
			border-radius: 10px;
			transition: 0.2s ease-in-out;
			appearance: none;

			&:focus {
				border-color: $color-accent;
				outline: 1px solid $color-accent;
				outline-offset: 0px;
			}
		}
	}

	.form__actions {
		display: flex;
		justify-content: space-between;

		&-button {
			width: 70px;
			padding: 5px;
			color: $color-primary;
			border: none;
			border-radius: 5px;
			background-color: $color-accent;
			font-size: 16px;
			transition: 0.25s ease-in-out;

			&:hover {
				background-color: $color-accent-light;
			}
		}

		.cancel {
			color: $color-grey;
			background-color: $color-border-light;

			&:hover {
				color: $color-border-light;
				background-color: $color-grey-light;
			}
		}
	}
}
