@import './styles/variables.scss';

* {
	box-sizing: border-box;
	font-family: 'Comfortaa', sans-serif;
}

body {
	padding: 0;
	margin: 0;
	background-color: $color-body-background;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

button {
	cursor: pointer;
}
